* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

h1 {
  font-size: 40px;
  margin: 30px 0 10px 0;
  text-align: center;
}

form {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 5px 10px 2px grey;
  left: 50%;
  padding: 25px;
  position: absolute;
  transform: translateX(-50%);
}

label {
  display: inline-block;
  width: 150px;
}

input {
  height: 34.4px;
  width: 150px;
}

input[type="text"] {
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
}

input[name="lunch"] {
  margin: 60px 0;
}

#calories {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: default;
  margin-bottom: 25px;
  padding: 3px;
  text-align: center;
}

#calories-available,
#calories-used,
#calories-left {
  border-bottom: 1px solid black;
  cursor: default;
  display: inline-block;
  font-family: monospace;
  position: relative;
  width: 65.987px;
}
